
body{
  font-size: 10;
  font-family: fantasy;
}

footer{
  font-size: 25px;
  text-align: center;
  height: 50px;
  width: 100%;
  bottom: 0;
  position: absolute;
}

main{
  h2{
    top:50%;
    left:50%;
    width: 100%;
    text-align: center;
  }
}

#teste {
  top:50%;
  left:50%;
  position:fixed;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}

#resposta{
  position:inherit;;
  margin-top:10px;

}

#frm1 {
  margin-top: 8%;
}
